Model(
    identifier: "cube",
    faces: [
        (
            texture: "left",
            normal: (-1.0, 0.0, 0.0),
            vertices: [
                (
                    position: (0.0, 1.0, 0.0),
                    uv: (0.0, 0.0),
                ),
                (
                    position: (0.0, 0.0, 0.0),
                    uv: (0.0, 1.0),
                ),
                (
                    position: (0.0, 0.0, 1.0),
                    uv: (1.0, 1.0),
                ),
                (
                    position: (0.0, 1.0, 1.0),
                    uv: (1.0, 0.0),
                )
            ],
            cull: Some(0),
        ),
        (
            texture: "right",
            normal: (1.0, 0.0, 0.0),
            vertices: [
                (
                    position: (1.0, 1.0, 1.0),
                    uv: (0.0, 0.0),
                ),
                (
                    position: (1.0, 0.0, 1.0),
                    uv: (0.0, 1.0),
                ),
                (
                    position: (1.0, 0.0, 0.0),
                    uv: (1.0, 1.0),
                ),
                (
                    position: (1.0, 1.0, 0.0),
                    uv: (1.0, 0.0),
                )
            ],
            cull: Some(1),
        ),
        (
            texture: "up",
            normal: (0.0, 1.0, 0.0),
            vertices: [
                (
                    position: (1.0, 1.0, 0.0),
                    uv: (0.0, 0.0),
                ),
                (
                    position: (0.0, 1.0, 0.0),
                    uv: (0.0, 1.0),
                ),
                (
                    position: (0.0, 1.0, 1.0),
                    uv: (1.0, 1.0),
                ),
                (
                    position: (1.0, 1.0, 1.0),
                    uv: (1.0, 0.0),
                )
            ],
            cull: Some(2),
        ),
        (
            texture: "down",
            normal: (0.0, -1.0, 0.0),
            vertices: [
                (
                    position: (0.0, 0.0, 0.0),
                    uv: (0.0, 0.0),
                ),
                (
                    position: (1.0, 0.0, 0.0),
                    uv: (0.0, 1.0),
                ),
                (
                    position: (1.0, 0.0, 1.0),
                    uv: (1.0, 1.0),
                ),
                (
                    position: (0.0, 0.0, 1.0),
                    uv: (1.0, 0.0),
                )
            ],
            cull: Some(3),
        ),
        (
            texture: "front",
            normal: (0.0, 0.0, 1.0),
            vertices: [
                (
                    position: (0.0, 1.0, 1.0),
                    uv: (0.0, 0.0),
                ),
                (
                    position: (0.0, 0.0, 1.0),
                    uv: (0.0, 1.0),
                ),
                (
                    position: (1.0, 0.0, 1.0),
                    uv: (1.0, 1.0),
                ),
                (
                    position: (1.0, 1.0, 1.0),
                    uv: (1.0, 0.0),
                )
            ],
            cull: Some(4),
        ),
        (
            texture: "back",
            normal: (0.0, 0.0, -1.0),
            vertices: [
                (
                    position: (1.0, 1.0, 0.0),
                    uv: (0.0, 0.0),
                ),
                (
                    position: (1.0, 0.0, 0.0),
                    uv: (0.0, 1.0),
                ),
                (
                    position: (0.0, 0.0, 0.0),
                    uv: (1.0, 1.0),
                ),
                (
                    position: (0.0, 1.0, 0.0),
                    uv: (1.0, 0.0),
                )
            ],
            cull: Some(5),
        )
    ],
)